html{
    direction: rtl;
}
hr{
    border-top: 2px solid rgba(0,0,0,.1);
}
.payment-page{
    background-color: #f1f1f1;
    position: relative;
    padding: 50px 25px;
    text-align: right;
}
.payment-page h4{
    font-size: 20px;
    color: #edac60;
}
/* start right */
/* .payment-page .shopping-details{
    min-height: 1000px;
} */
/* start address section */
.shopping-details .address-title{
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(135,135,135, 0.2), 0 6px 20px 0 rgba(171,171,171, 0.19);
    padding: 20px 0;
    margin-bottom: 50px;
}
/* .address-title h4{
    color: #4a494c;
    font-size: 19px;
} */
.address-title .address i {
    color: #70bc35;
    font-size: 20px;
    margin-left: 5px;
}
.address-title .text-left a{
    text-decoration: none;
}
.address-title .address-description h6{
    color: #6a6767;
    font-weight: 700;
}
.address-title .address-description p{
    color: #9ca0a3;
}
/* end address section */

/* start products section */
.products{
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(135,135,135, 0.2), 0 6px 20px 0 rgba(171,171,171, 0.19);    
    padding: 20px 0;
    margin-bottom: 50px;
}
.products .head h4{
    /* color: #111111; */
    padding-right: 20px;
    /* font-size: 25px; */
}
.product-item hr{
    border-top: 1px solid rgba(0,0,0,.1) !important;
}
.products .product-item{
    width: 70%;
    margin: 0 40px;
    padding: 20px 0;
}
.products .product-item .title{
    padding-right: 10px;
}   
.products .product-item .title h6{
    color: #4d4d54;
}
.products .product-item .title p{
    color: #4d4d54;
}
.products .product-item .title p span{
    font-weight: 600;
}
.products .item p{
    color: #504d4d;
}
.products .item span{
    color: #504d4d;
}
/* end products section */

/* start payment way */
.payment-way .address i{
    color: #9f9fa1;
}
.payment-way .form-check label{
    margin-right: 20px;
}
.payment-way .address-description i{
    color: #edac60;
    font-size: 20px;
}
/* end payment way */

/* end right part*/

/* start left */
.payment-page .shopping-price{
    position: fixed;
    /* height: 84vh; */
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(135,135,135, 0.2), 0 6px 20px 0 rgba(171,171,171, 0.19);    
    text-align: right;
    padding: 20px 0;
}
.shopping-price hr{
    border-top: 1px solid rgba(0,0,0,.1) !important;
}
.payment-page .shopping-price h6{
    color: #edac60;
    margin-right: 20px;
}
.payment-page .summary p{
    font-size: 15px;
    margin-bottom: 5px;
}
.payment-page .summary .result{
    font-weight: bold;
}
.summary i{
    color: #edac60;
    font-size: 20px;
}
.summary .note p{
    font-size: 12px;
}
.summary button.btn{
    width: 100%;
    margin: auto;
    background-color: #979494;
    border-color: #979494;
}
.summary button.confirm{
    background: #ef9831;
    color: #fff;
    border-color: #ef9831;
}
/* end left */

/* start media query */
/* @media (min-width: 30em) and (max-width: 50em) */

@media only screen and (max-width: 858px) {
    .payment-page .summary p{
        font-size: 12px !important;
    }
}
@media only screen and (max-width: 1134px) {
    .payment-page .summary .result p{
        font-size: 13px;
    }
    .products .product-item{
        width: 80%;
    }
}
@media only screen and (max-width: 1189px) {
    .payment-page .summary p{
        font-size: 14px;
    }
}
@media only screen and (max-width: 768px) {
    .payment-page .shopping-price{
        position: relative;
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .payment-page .summary p{
        font-size: 14px !important;
    }
    .payment-page h4 {
        font-size: 16px;
    }
    .address-title .address-description h6 {
        font-size: 15px;
    }
    .address-title .address-description p {
        font-size: 14px;
    }
    .products .product-item .title h6 {
        font-size: 15px;
    }
    .products .product-item .title p {
        font-size: 13px;
    }
    .products .item p {
        font-size: 14px;
    }
    .shopping-details .address-title{
        margin-bottom: 30px;
    }
    .products{
        margin-bottom: 30px;
    }
    .payment-way .address i {
        font-size: 18px;
    }
}

/* end media query */
