html{
    direction: rtl;
}
hr{
    border-top: 2px solid rgba(0,0,0,.1);
}
.payment-page{
    background-color: #f1f1f1;
    position: relative;
    padding: 50px;
    text-align: right;
}
/* start right */
/* .payment-page .shopping-details{
    min-height: 1000px;
} */
/* start address section */
.shopping-details .address-title{
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 0;
    margin-bottom: 50px;
}
.address-title h5{
    color: #4a494c;
    font-size: 19px;
}
.address-title .address i {
    color: #70bc35;
    font-size: 20px;
    margin-left: 5px;
}
.address-title .text-left a{
    text-decoration: none;
}
.address-title .address-description h6{
    color: #6a6767;
    font-weight: 700;
}
.address-title .address-description p{
    color: #9ca0a3;
}
/* end address section */

/* start products section */
.products{
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px 0;
    margin-bottom: 50px;
}
.products .head h2{
    color: #111111;
    padding-right: 20px;
    font-size: 25px;
}
.product-item hr{
    border-top: 1px solid rgba(0,0,0,.1) !important;
}
.products .product-item{
    width: 70%;
    margin: 0 40px;
    padding: 20px 0;
}
.products .product-item .title{
    padding-right: 10px;
}   
.products .product-item .title h6{
    color: #4d4d54;
}
.products .product-item .title p{
    color: #4d4d54;
}
.products .product-item .title p span{
    font-weight: 600;
}
.products .item p{
    color: #504d4d;
}
.products .item span{
    color: #504d4d;
}
/* end products section */

/* start payment way */
.payment-way .address i{
    color: #9f9fa1;
}
.payment-way .form-check label{
    margin-right: 20px;
}
.payment-way .address-description i{
    color: #edac60;
    font-size: 20px;
}
/* end payment way */

/* end right part*/

/* start left */
.payment-page .shopping-price{
    position: fixed;
    /* height: 84vh; */
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 19%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: right;
    padding: 20px 0;
}
.shopping-price hr{
    border-top: 1px solid rgba(0,0,0,.1) !important;
}
.payment-page .shopping-price h6{
    color: #edac60;
    margin-right: 20px;
}
.payment-page .summary p{
    font-size: 15px;
    margin-bottom: 5px;
}
.payment-page .summary .result{
    font-weight: bold;
}
.summary i{
    color: #edac60;
    font-size: 20px;
}
.summary .note p{
    font-size: 12px;
}
.summary button.btn{
    width: 100%;
    margin: auto;
}

